@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Book.eot');
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Book.woff2') format('woff2'),
    url('../fonts/GothamRounded-Book.woff') format('woff'),
    url('../fonts/GothamRounded-Book.ttf') format('truetype'),
    url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-BookItalic.eot');
  src: url('../fonts/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-BookItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-BookItalic.woff') format('woff'),
    url('../fonts/GothamRounded-BookItalic.ttf') format('truetype'),
    url('../fonts/GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Light.eot');
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Light.woff2') format('woff2'),
    url('../fonts/GothamRounded-Light.woff') format('woff'),
    url('../fonts/GothamRounded-Light.ttf') format('truetype'),
    url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-LightItalic.eot');
  src: url('../fonts/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-LightItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-LightItalic.woff') format('woff'),
    url('../fonts/GothamRounded-LightItalic.ttf') format('truetype'),
    url('../fonts/GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Medium.eot');
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
    url('../fonts/GothamRounded-Medium.woff') format('woff'),
    url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
    url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-MediumItalic.eot');
  src: url('../fonts/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-MediumItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-MediumItalic.woff') format('woff'),
    url('../fonts/GothamRounded-MediumItalic.ttf') format('truetype'),
    url('../fonts/GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Bold.eot');
  src: url('resources/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
    url('../fonts/GothamRounded-Bold.woff') format('woff'),
    url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-BoldItalic.eot');
  src: url('../fonts/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-BoldItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-BoldItalic.woff') format('woff'),
    url('../fonts/GothamRounded-BoldItalic.ttf') format('truetype'),
    url('../fonts/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}




header.masthead-quienes-somos {
  position: relative;
  background-color: #343a40;
  background: url("../img/header/header-quienes-somos-blur.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

header.masthead-contacto {
  position: relative;
  background-color: #343a40;
  background: url("../img/header/header-contacto-blur.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

header.masthead-comunidad {
  position: relative;
  background-color: #343a40;
  background: url("../img/header/header-comunidad-blur.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

header.masthead-redfederal {
  position: relative;
  background-color: #343a40;
  background: url("../img/header/header-redfederal-blur.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

header.masthead-agenda {
  position: relative;
  background-color: #343a40;
  background: url("../img/header/header-agenda-blur.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.contenedor-header{
  width:100%;
  height:auto;

  margin-top:20px;
  min-height:300px;
  position:relative;
}

.padding-footer{
  padding-bottom: 50px;
}
/*
.back-quienes-somos{
  background-image: url("../img/backgrounds/background-quienes-somos.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center center;
  padding-bottom:60px;
  padding-top:50px;}
*/
.quienes-somos{
  background: url("../img/header/quienes-somos.jpg") no-repeat center center;
  background-size:cover;
}

.contacto{
  background: url("../img/header/contacto.jpg") no-repeat center center;
  background-size:cover;
}
.comunidad{
  background: url("../img/header/comunidad.jpg") no-repeat center center;
  background-size:cover;

}
.redfederal{
  background: url("../img/header/redfederal.jpg") no-repeat center center;
  background-size:cover;

}

.agenda{
  background: url("../img/header/agenda.jpg") no-repeat center center;
  background-size:cover;

}

.navbar{
  -webkit-box-shadow:  none!important; 
  box-shadow: none!important;
  padding:0px;
  padding-top:15px;
}

.navbar li a{
  padding:0px 10px;
  color:#404040;
  text-align:center;

}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.5);
    border-color: transparent;

}

.form-inline {
    display: -webkit-inline-box;
    background-color: #d6d6d6a3;
    border-radius: 24px;
    padding: 0px 5px;
}



.navbar textarea, .navbar textarea.form-control, .navbar input.form-control, .navbar input[type=text], .navbar input[type=password], .navbar input[type=email], .navbar input[type=number], .navbar [type=text].form-control, .navbar [type=password].form-control, .navbar [type=email].form-control, .navbar [type=tel].form-control, [contenteditable].form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.nav-item{
  text-align:center;
  background-color:#ffffff63;
  padding:10px 0px;
}

footer.footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color:transparent!important;
}

footer .col-lg-6 a{
  color:#d2d2d2;
}


.contenedor-header h1 {
  font-family:'Gotham Rounded';
  font-size:30px;
  width:380px;
}

.contenedor-header h4 {
  font-family:'Gotham Rounded';
  font-size:12px;
  padding-top:40px;
}

.contenedor-header h5 {
  font-family:'Gotham Rounded';
  font-size:12px;
  padding-top:5px;
  font-weight:100;
}

.tag{
  padding-left:10px;padding-top:10px;
}

.titulo-nota, .titulo-nota-destacada{
   padding-left:10px;
   padding-top:10px;
   padding-right:10px;
   font-size:1rem;
   margin-bottom:5px;
}

.descripcion-nota, .descripcion-nota-destacada{
  padding-left:10px;
  padding-top:0px;
  padding-right:10px;
}

.card-nota{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: stretch;
}

.quienes-somos-card{
  width:50%;
}

.valores{
  padding:30px;
  margin-left:50px;
}

.flexin{
  display: flex;flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.nav-color{
  background-color:#fff;

}

.navbar-gray{
  padding-bottom:0px;
  background-color:#e2e2e2!important;

}

h2 a{
  text-decoration:none;
  color:#7a7a7a;
}

h2 a:hover, h2 a:visited, h2 a:focus{
  text-decoration:none;
  color:#7a7a7a;
}

.title-home{
  font-family: 'Gotham Rounded';
  font-weight: bold;
  text-align:left;
  font-size:20px;
  padding-top:100px;
  color:#7a7a7a;
  width:160px;
}

.dash{
  width: 25px;
  height: 5px;
  border-radius: 5px;
  margin-top: 40px;
}

.line-divider{
  display:block;
}

.text-home{
  font-family: 'Gotham Rounded';
  font-weight:100;
  text-align:left;
  font-size:12px;
  color:#747474;
  padding-top:20px;
  width:80%;
}
.contenedor-titulo{
  min-height:250px;
  position:relative;
}

.btn-home{
  border-radius: 30px;
  background-color: transparent !important;
  box-shadow: none;
  padding: 0.4rem 1rem!important;
  font-size:8px;
}

.position-absolute-cero{
  position:absolute;
  bottom:0px;
}

.box-text-btn{
  min-height:160px;
  position:relative;
  padding-top:20px;
}


.btn-conocenos{
  border: 1px solid #FCB813 !important;
}

.btn-conocenos:hover{
  background-color:#FCB813!important;
  color:#fff;
}

.btn-acompananos{
  border: 1px solid #00B8F1 !important;
}

.btn-acompananos:hover{
  background-color:#00B8F1!important;
  color:#fff;
}

.btn-descubrilos{
  border: 1px solid #EE4A6D !important;
}

.btn-descubrilos:hover{
  background-color:#EE4A6D!important;
  color:#fff;
}

.btn-agenda{
  border: 1px solid #B46BD1 !important;
}

.btn-agenda:hover{
  background-color:#B46BD1!important;
  color:#fff;
}

.text-quienes-somos{
  font-family: 'Gotham Rounded';
  font-weight:100;
  padding-top:20px;
  color:#5D5D5D;
}

.card h3{
  font-family: 'Gotham Rounded';
  color:#5D5D5D;
}

article .card h5{
  font-family: 'Gotham Rounded';
  color:#5D5D5D;
  font-weight:100;
}

.card h5 button{
  color:#5D5D5D;
  font-weight:100;
}

.card .btn-link:hover, .btn-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #5D5D5D;
    text-decoration: underline;
}

.description{
  font-family: 'Gotham Rounded';
  color:#5D5D5D;
  font-weight:bold;
  font-size:20px;
  text-transform:capitalize;

}

.caption{
  padding:20px;
}

.cargo{
  font-family: 'Gotham Rounded';
  color:#5D5D5D;
  font-weight:100;
  text-transform:capitalize;
  font-size:12px;
}

.card{
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 0px;


}

.col-lg-3 .image-caption .fab {
    color: #00B8F1;
    font-size: 22px;
    padding-right: 50px;
}

.add-comunidad{
  color:#00B8F1;
  background-color:#fff;
  border-radius:50%
}

/* button animation */
.icoCollapse {
    width: 35px;
    height: 35px;
    background-color: #00B8F1;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    margin-top:10px;
}
.icoCollapse div{
  position: relative;
  transition: 0.3s;
  background-color: #fff;
}
.max div:nth-child(1){
  margin: 43% 0 0 auto;
  width: 100%;
  height: 14%;

}
.max div:nth-child(2){
  margin: -57% auto auto auto;
  width: 14%;
  height: 100%;

}
.min div:nth-child(1){
  margin: 43% 0 0 auto;
  width: 100%;
  height: 14%;
}
.min div:nth-child(2){
  margin: -57% auto 0 auto;
  width: 14%;
  height: 100%;
  -webkit-transform: rotate(90deg);
}
/* fin button animation */

.rrss-comunidad{
  width:100%;
  text-align:left;

}

/* AGENDA FEDERAL */

.border-col{
  border-left:1px solid #5D5D5D;
  padding-right:20px;
}

.float-agenda{
  float:right;
}

.tribe-bar-submit {

    width: 100%!important;
}

.tribe-bar-date-filter,.tribe-bar-search-filter{
    width: 100%!important;
}



.tribe-events-list-event-title{

  font-family: 'Gotham Rounded';
  color:#5D5D5D;
  font-weight:100;
  font-size:14px!important;
  width:60%;

}

.boton-agenda{
  background:#B46BD1!important;
  width:150px!important;
  margin-top:15px;
}

.tag{
  padding:0px!important;
  padding-top:20px!important;

}

.tag a{
  color:#5D5D5D!important;
  text-decoration:!important;

}
.img-comunidad {
width:100%;
}

.mes-agenda{
  text-transform:uppercase!important;
  font-family: 'Gotham Rounded'!important;
  color:#B46BD1!important;
  font-weight:100;
}

.dia-agenda{
  text-transform:uppercase!important;
  font-family: 'Gotham Rounded'!important;
  color:#B46BD1!important;
  font-weight:bold;
  font-size:55px;
}

.tribe-events-loop .tribe-events-event-meta{
  line-height:1!important;
}

.tribe-events-list .type-tribe_events{
  border-bottom: none!important;
  margin: 0;
  padding: 1em 0!important;
}

#tribe-bar-form .tribe-bar-submit input[type=submit]{
  background-color:#B46BD1!important;
}

/* RED FEDERAL */

.contenedor-box{
  width:50%;
  height:auto;
  float:right;
}

.tag-provincia{
  background-color:#F0F0F0;
  padding:5px!important;
  font-family: 'Gotham Rounded';
  display:inline-block;
  margin-top:10px;
  margin-left:10px;
  border-radius:5px;
  font-size:10px;
}

.tag-nota{
  background-color:#F0F0F0;
  padding:10px!important;
  font-family: 'Gotham Rounded';
  display:inline-block;
  border-radius:5px;
}

.tag-nota a{
  color:#5D5D5D!important;

}

.estilo-nota{
   background-color:#fff;
   padding-top:40px!important;
   padding:80px;
   padding-bottom:20px;
}

.titulo-nota-destacada a{
  font-family: 'Gotham Rounded';
  font-weight:bold;
  color:#5D5D5D!important;
  line-height:18px;
}

.titulo-nota a{
  font-family: 'Gotham Rounded';
  font-weight:bold;
  color:#5D5D5D!important;
  line-height:18px;
}

.descripcion-nota-destacada a{
  font-family: 'Gotham Rounded';
  color:#5D5D5D!important;
  font-weight:100;
}

.descripcion-nota a{
  font-family: 'Gotham Rounded';
  color:#5D5D5D!important;
  font-weight:100;
}

.titulo-nota-interior{
  color:#EE4A6D;
  font-family: 'Gotham Rounded';
  text-transform:uppercase;
  font-weight:bold;
  text-align:left;
}
.bajada-nota-interior{
  text-align:left;
  font-family: 'Gotham Rounded';
  font-weight:'300';
  font-size:18px;
}

.content-nota{
   font-family: 'Gotham Rounded';
  text-align:left;
 font-size:14px;
 font-weight:100;
 line-height:26px;
}

.content-nota img{
  width:100%;
  height:auto;
}

.header-nota a{
  float:left;
}

/* CONTACTO */

.col-lg-6 input, .col-lg-6 textarea{
  width:100%;
  padding:15px 0px;
  margin-top:20px;
  border:none;
  -webkit-box-shadow: 0 3px 6px -6px #737373;
box-shadow: 0 3px 6px -6px #737373;
}

.col-lg-6 textarea{
  height:186px;
}

.btn-contacto{
  background-color:#ef7024;
  color:#fff;
  width: 120px;
  margin-top: 40px;
}

/* RESPONSIVE */

@media screen and (max-width:1199px){
  .col-lg-3 .image-caption .fab {

    padding-right: 30px;
  }
}

@media screen and (max-width:997px){
  .contenedor-box {
    width: 60%;

    }



}

@media screen and (max-width:991px){
  .padding-footer{
  padding-bottom: 160px;
  }

.border-col{
  border-left:0px solid #fff;

}

.btn-contacto{

  width: 100%;

}

}

@media screen and (max-width:768px){
  #tribe-events-pg-template {
      padding: 0px 0px 0px!important;
  }

}


@media screen and (max-width:767px){

  .quienes-somos-card{
    width:100%!important;
  }

  .flexin{
    display:block;
  }

  .valores{
    margin-left:0px;
    margin-top:30px;
  }  
}

@media screen and (max-width:540px){

.box-text-btn{
  display:none;
}

.title-home{
  width:80%;
  padding-top:35px;
  display:inline-block;
}

.float-agenda{
  float:none;
}

.position-absolute-cero .dash{
  display:none;
} 


  .contenedor-titulo{
    min-height:100px;

  }

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.5);
    width: 100%;
    border-color: transparent;
    border-top: 1px solid;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.form-control{
  width:80%!important;
}

  .estilo-nota{

     padding:40px;

  }
}

}

@media screen and (min-width:540px){
  .line-divider{
    display:none;
  }

  .fa-angle-right{
    display:none;
  }




@media screen and (max-width:467px){

  .contenedor-header h1{
    width:100%;
  }

  .imagen{
    display:none;
  }

  .contenedor-box{
  width:95%;

}

.form-inline{
  width:45%;
}


}

@media screen and (max-width: 768px){
.tribe-events-loop .tribe-events-event-meta {
    background: transparent!important;
    border: 0px solid!important;
    margin-top: 0px!important; 

}
}